.footer {
    background-color: #141212;
    padding: 100px;
    display: block;

}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.contactMeHeader {
    color: white;
    /* background: -webkit-linear-gradient(360deg, rgb(241, 227, 29), rgb(218, 11, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.contactMeEmail, .contactMeName, .contactMeMessage {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    margin: 5px;
    padding: 10px;
    border: 2px solid white;
    background-color: #141212;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    
}

.contactMeMessage {
    min-height: 150px;
}
